<span id="site" class="ng-cloak">
    <div class="container squares-container">
        <container>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="statedropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    {{state}}
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="statedropdown">
                    <li ng-repeat="s in states"><a ng-click="setState(s)">{{s}}</a></li>
                </ul>
            </div>
            <table class="squares-section">
                <tr class="row square-row ">
                    <td class="square">
                        <div> </div>
                    </td>
                    <td class="square" ng-repeat="num in [0,1,2,3,4,5,6,7,8,9]">
                        <div><b>{{num}}</b></div>
                    </td>
                </tr>
                <tr class="row square-row " ng-repeat="row in squares">
                    <td class="square">
                        <div><b>{{$index}}</b></div>
                    </td>
                    <td ng-class="{'square':true,'square-filled':!!square.displayName, 'square-lg':!!square.displayName&&square.displayName.length==3,'square-xl':!!square.displayName&&square.displayName.length==4}" ng-repeat="square in row track by $index">
                        <div class="dropdown" ng-show="state=='PAUSED'">
                            <button class="btn btn-default dropdown-toggle" type="button" ng-attr-id="{{ 'object-' + square.x + ' ' +square.y  }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                {{square.displayName}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" ng-attr-aria-labelledby="{{ 'object-' + square.x + ' ' +square.y  }}">
                                <li ng-repeat="player in playerDNs"><a ng-click="makeMark(player,square.x,square.y)">{{player}}</a></li>
                            </ul>
                        </div>
                        <div ng-hide="state=='PAUSED' || !square.displayName">{{square.displayName}}</div>
                    </td>
                </tr>
            </table>
            <div class="player-section" style="margin-left:0px;">
                <div ng-class="{'row':true,'player-row':true,'picking':player.display==activePlayerDN}" ng-repeat="player in players" ng-show="!!player">
                    <row>
                        <div class="span2 player-display">{{player.display}}</div>
                        <div class="span7 player-name">{{player.name}}</div>
                        <button type="button" ng-hide="player.display==activePlayerDN" ng-click="activatePlayer(player)" class="btn btn-medium btn-success">
                            Set Active
                        </button>
                    </row>
                </div>
            </div>
        </container>
    </div>
</span>